<p>Add new Account: First, last name, email</p>
<form action="/account/all" method="POST">
    <input type="text" name='account[first_name]'>
    <input type="text" name='account[last_name]'>
    <input type="text" name='account[email]'>
    <input type="text" name='account[account_id]'>
    <button type="Submit">submit</button>
</form>
<table>
    <thead>
        <tr>
            <td>first_name</td>
            <td>last_name</td>
            <td>email</td>
            <td>account_id</td>
            <td>delete</td>
        </tr>
    </thead>
    <tbody>
        <% response.forEach(function(i) {%>
        <tr>
            <td><%= i.first_name %></td>
            <td><%= i.last_name %></td>
            <td><%= i.email %></td>
            <td><%= i.account_id %></td>
            <td><a href="/account/delete/<%=i.account_id%>">Delete</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>
<P>Update a record first, last name, email</P>
<form action="/account/edit" method="POST">
    <input type="text" name="account[first_name]">
    <input type="text" name="address[last_name]">
    <input type="text" name="address[email]">
    <button type="submit">Submit</button>
</form>