<%- include("../includes/header.ejs", {title:"Company - View All"}); %>

<table>
    <thead>
        <tr>
            <td>email </td>
            <td>First</td>
            <td>Last </td>

        </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>

        <td><%= i.email %></td>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><a href="/resume/add/selectUser/<%=i.account_id%>">Add Resume</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<%- include("../includes/footer.ejs"); %>